
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>How satisfied a Patient is?</title>
		<meta name="description" content="Check how your review sounds">
		<meta name="keywords" content="Demo of Machine Learning techniques">
		<meta charset="UTF-8">

		<!-- Favicon icons for in browser -->
		<link rel="icon" href="/static/images/doctor.ico">
		<link rel="shortcut icon" href="/static/images/doctor.ico">

		<meta content='./doctor.png' name='msapplication-TileImage'>
		<meta content='7dc9da01bd1d54afbb191ba94edbba29' name='p:domain_verify'>
		<link rel="stylesheet" href="/static/css/style_sheet.css">
	</head>
	<body>
	        <div id="top">
	        <p id="visitText">
			Patient Satisfaction Predictor - Zocdoc Review
		</p>
		</div>
		<div id="wrapper">
			<div id="first">
				<form name="login" action="/show" method="post" id="111">
					<textarea rows="20" cols="50"  placeholder="Please enter your review" class="message" form="111" id='screen_name' name='screen_name' required>{{ previous_text}}</textarea>
					<input name="submit" formmethod="post" class="btn" type="submit" value="Check" />
				</form>
				<!--button  formmethod="post" form="111" type="submit" formaction="/show">Check It!</button-->
			</div>
			<div id="second">
				{% if answer %}
				<p>
				<img src='/static/images/like.jpg' height=400> 
				<!--{{ answer|e|safe }}-->
				</p>
				{% elif answer == false %}
				<p>
				<img src='/static/images/dislike.jpg' height=400>
				<!--{{ answer|e|safe }}-->
				</p>
				{% endif %}
			</div>
		</div>
	</body>
</html>
